@use '@/src/app/styles/helpers/sass-variables' as *;
@use '@/src/app/styles/helpers/functions' as *;

:root {
  --color-white: #ffffff;
  --color-black: #070c11;

  --color-blue-10: #0e1821; // blue for menu
  --color-blue-20: #243c53; // blue for menu button
  --color-blue-40: #2a5275; // dark blue
  --color-blue-50: #4878a6; // blue
  --color-blue-70: #edf2f6; // light blue

  --color-gray-10: #838688; // gray text
  --color-gray-30: #c8cacb; // divider
  --color-gray-40: #eaeaf0; // card border

  --color-green: #48a69b;
  --color-red: #d73838;
  --color-orange-10: #f37748;
  --color-orange-40: #fbb13c;

  --color-hover: var(--color-blue-40);

  --border: var(--border-width-s) solid var(--color-gray-40);

  --border-width-m: 2px;
  --border-width-s: 1px;

  --border-radius-l: 10px;
  --border-radius-m: 8px;
  --border-radius: 6px;
  --border-radius-xs: 4px;

  --font-family-base: 'Exo2';
  --font-family-times-symbol: Verdana, 'Times New Roman', Tahoma, sans-serif;
  --line-height-base: 1.3;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 20px;

  --transition-duration: 0.2s;

  --size-button: 48px;
  --size-field: var(--size-button);
}
