# Prisma Connection
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE?schema=public"

# Database Credentials (e.g. for docker-compose.yml)
DB_USER=
DB_PASSWORD=
DB_NAME=

# Authentication & authorization (NextAuth.js & GitHub OAuth)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GITHUB_ID=
GITHUB_SECRET=