.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  .list {
    display: contents;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    display: flex;
    align-items: center;
    background: var(--color-blue-70);
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
  }

  .itemName {
    font-weight: 600;
    margin-right: 8px;
  }

  .itemValues {
    margin-right: 8px;

    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }

  .closeBtn {
    @include reset-button;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    font-size: 18px;
    color: var(--color-red);

    @include hover {
      filter: brightness(1.4);
    }
  }

  .resetAllBtn {
    @include reset-button;

    border-bottom: 2px solid var(--color-red);
    color: var(--color-red);
    padding: 4px 8px;
    font-weight: 500;
    font-size: 14px;

    @include hover {
      filter: brightness(1.4);
    }
  }
}
