.actions {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.list {
  @include reset-list;

  display: flex;
  align-items: center;
}

.item {
  .favorite {
    svg * {
      fill: var(--color-red);
      stroke: var(--color-red);
    }
  }

  .cart {
    @include tablet {
      display: none;
    }
  }
}
