.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .text {
    font-size: 14px;
  }

  .link {
    color: var(--color-blue-50);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color var(--transition-duration) ease-in-out;

    @include hover {
      border-color: currentColor;
    }
  }

  .error {
    color: var(--color-red);
    background-color: #ffe5e5;
    text-align: center;
    border-radius: var(--border-radius-m);
    padding-block: 10px;
    margin: 0;
  }
}
