.table {
  width: 100%;
  max-width: 975px;
  border-collapse: collapse;
}

.title {
  margin-bottom: 30px;
  text-align: start;
}

.row {
  height: 72px;

  &:not(:last-child) {
    border-bottom: var(--border-width-s) solid var(--color-gray-30);
  }
}

.cell {
  width: 50%;
  padding-inline: 20px;
  font-size: 16px;
  word-break: break-word;

  &Header {
    font-weight: 700;
    text-align: start;

    @include mobile-s {
      padding-left: 0;
    }
  }
}
